.clg{
    background-color: black;
    border: solid 1px black;
}

.bg-jamia{background-color :#34495E 

	}

.urdufont{
    font-family: all; 

}

.carousel-inner img {
    width: 100%;
    height: 500px;
  }

.carousel-inner h1, p{
font-family: all;
}
 